 .cabeçalho {
   background: cornflowerblue;
   border: 1px solid;
    text-align: center;



  

  



  }
   
   .navegação {

      background: rgb(137, 137, 141);
      border: 1px solid;
      text-align: center;

   
   }